{% extends 'main/base.html'%}

{% block head_content %}
  <title>Mis recetas</title>
  {% load static %}
  <script async type="text/javascript" src="{% static 'recipes/js/add_ingredient.js' %}" ></script>
{% endblock %}

{% block content%}

  <div class="container pt-5">
    <h1>Mis recetas</h1>
  </div>

  {% if recipes %}
    <div class="container pt-5">
      <a class="btn btn-info" type="button" href="{% url 'edit_recipes' %}">Editar</a>
    </div>
  {% endif %}

  <div class="container px-5 py-5">
    {% if recipes %}
      <table class="table table-hover">
        <thead>
          <tr class="bg-color">
            <th scope="col">Nombre</th>
            <th scope="col">Descripción</th>
            <th scope="col">Categoria</th>
            <th scope="col">Imagen</th>
            <th scope="col">Ver</th>
          </tr>
        </thead>
        <tbody>
          {% for recipe in recipes %}
            <tr>
              <td class="cell">{{recipe.name}}</td>
              <td class="cell">{{recipe.description}}</td>
              <td class="cell">{{recipe.category}}</td>
              <td class="cell" width="20%"> <img class="img-tabla" src="{{recipe.image.url}}" alt="No se pudo cargar la imagen"></td>
              <td class="cell" width="5%"><a class="btn btn-info" href="{% url 'get_recipe' recipe.id_recipe %}">Ver</a></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <h3>Aún no tienes recetas</h3>
    {% endif %}
  </div>

  <div class="container py-5 px-5">
    <button class="btn btn-block btn-success" type="button" data-toggle="modal" data-target="#new_recipe_modal">Agregar</button>
  </div>

  <div class="modal fade" role="dialog" id="new_recipe_modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Crear una receta</h5>
          </div>
            <form action="{% url 'add_recipe' %}" method="post" enctype="multipart/form-data">
              <div class="modal-body">
              {% csrf_token %}
                <div class="form-group">
                  <label for="name">Nombre</label>
                  <input type="text" name="name" maxlength="30" value="{{form.data.name}}"required />
                </div>

                <div class="form-group">
                  <label for="image">Selecciona una imagen</label>
                  <input type="file" name="image" accept="image/*" required/>
                </div>

                <label for="description">Escribe una descripción</label>
                <div class="form-group">
                  <textarea type="text" name="description"  rows="5" cols="45">{{form.data.description}}</textarea>
                </div>
                Ingresa los ingredientes
                <div id="ingredients_list" class="container">
                  <div class="container pt-1">
                    <input type="text" name="ingredient" required>
                  </div>
                </div>

                <div class="container py-3">
                  <button id="add_ingredient" class="btn btn-success" type="button" name="button">Agregar un ingrediente</button>
                </div>

                <div class="form-group">
                  <label for="category">Selecciona una categoría</label>
                  <select class="form-control" name="category" required>
                    <option value="">Selecciona una categoria</option>
                    {% for category in categories %}
                      <option value="{{category.pk}}">{{category.name}}</option>
                    {% endfor %}
                  </select>
                </div>
            </div>
            <div class="modal-footer">
              <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
              <button class="btn btn-success" type="submit">Crear</button>
            </div>
          </form>
        </div>
    </div>
  </div>

{% endblock %}
