{% extends 'main/base.html'%}

{% block head_content %}
<title>{{recipe.name}}</title>
{% load static %}
<script async type="text/javascript" src="{% static 'recipes/js/coment_recipe.js' %}" ></script>
<script async type="text/javascript" src="{% static 'recipes/js/like_recipe.js' %}"></script>
{% endblock %}

{% block content%}
<div class="container">
  <div class="row justify-content-center">

    <div class="container pt-5">
      <h1>{{recipe.name}}</h1>
      <hr>
    </div>

    <div class="col">

      <div class="container pt-3">
        <h5>Categoría</h5>
        {{recipe.category}}
      </div>

      <div class="container pt-3">
        <h5>Ingredientes</h5>
        <ul>
          {% for ingredient in ingredients %}
          <li>{{ingredient.ingredient}}</li><br></br>
          {% endfor %}
        </ul>
      </div>

      <div class="container pt-3">
        <h5>Descripción</h5>
        {{recipe.description}}
      </div>

      <div class="container pt-3">
          <div class="card">
            <h5>Comentarios</h5>
            {% if not coments %}
              No hay comentarios
            {% else %}
            {% for coment in coments %}
            <hr>
            {{coment.chef}} |
            {{coment.date}} <br></br>
              {{coment.message}}<br></br>
            {% endfor %}
            {% endif %}
          </div>
          <div class="container pt-2 offset-sm-7">
            <button class="btn btn-info" type="button" name="button" data-recipe="{{ recipe.id_recipe }}" data-toggle="modal" data-target="#coment_modal">Agregar comentario</button>
          </div>
      </div>

      <div class="container pt-3 pb-5">
        <h5>Likes</h5>
        <h6 id="likes_count">{{likes}}</h6>
        <div class="container pt-3">
          {% if has_like %}
          <button id="like_button" class="btn btn-outline-success" type="button" name="button" data-recipe="{{ recipe.id_recipe }}">Unlike</button>
          {% else %}
          <button id="like_button" class="btn btn-success" type="button" name="button" data-recipe="{{ recipe.id_recipe }}">Like</button>
          {% endif %}
        </div>
      </div>

    </div>

    <div class="col">
      <div class="container pt-5 col-img">
        <div class="img-recipe">
          <img class="img-receta" src="{{recipe.image.url}}" alt="No se pudo cargar la imagen">
        </div>
      </div>
    </div>

  </div>
</div>

<!-- Modal for coment a recipe -->
<div class="modal fade" role="dialog" id="coment_modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Ingresa tu comentario</h4>
      </div>
      <form action="{% url 'coment_recipe' %}" method="post">
        {% csrf_token %}
        <div class="modal-body">
          <input type="text" name="message" placeholder="Ingresa el comentario" required>
          <input id="input_recipe_coment" type="hidden" name="id_recipe">
        </div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
          <button class="btn btn-success" type="submit" >Comentar</button>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}
