{% extends 'main/base.html'%}

{% block head_content %}
  <title>Editar recetas</title>
  {% load static%}
  <script async type="text/javascript" src="{% static 'recipes/js/delete_recipe.js' %}"></script>
{% endblock %}

{% block content%}

  <div class="containter px-5 py-5">
    <h1>Editar</h1>
  </div>

  <div class="containter px-5 py-5">
    {% if recipes %}
      <table class="table table-hover">
        <thead>
          <tr class="bg-color">
            <th scope="col">Nombre</th>
            <th scope="col">Descripción</th>
            <th scope="col">Categoria</th>
            <th scope="col">Imagen</th>
            <th scope="col">Editar</th>
            <th scope="col">Eliminar</th>
          </tr>
        </thead>
        <tbody>
          {% for recipe in recipes %}
            <tr>
              <td class="cell">{{recipe.name}}</td>
              <td class="cell">{{recipe.description}}</td>
              <td class="cell">{{recipe.category}}</td>
              <td class="cell" width="20%"><img class="img-tabla" src="{{recipe.image.url}}" alt="No se pudo cargar la imagen"></td>
              <td class="cell" width="5%"><a type="button" class="btn btn-info" href="{% url 'edit_recipe' recipe.id_recipe %}">Editar</a></td>
              <td class="cell" width="10%"><button class="btn btn-danger" data-recipe="{{ recipe.id_recipe }}" data-name="{{ recipe.name }}"
                    data-toggle="modal" data-target="#delete_recipe_modal">Eliminar</button></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <h3>Aún no tienes recetas</h3>
    {% endif %}
  </div>

  <div class="modal fade" role="dialog" id="delete_recipe_modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Confirmación</h4>
          </div>
          <div class="modal-body">
            <h5>¿Estas seguro de eliminar esta receta?</h5>
            <h6 class="pt-3" id="recipe_modal"></h6>
          </div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
            <a id="delete_recipe" class="btn btn-danger">Eliminar</a>
          </div>
        </div>
    </div>
  </div>

  <div class="container py-5">
    <a class="btn btn-secondary" href="{% url 'recipes' %}" type="button">Volver</a>
  </div>

{% endblock %}
