{% extends 'main/base.html'%}

{% block head_content %}
  <title>Inicio</title>
  {% load static %}
  <script async src="{% static 'post/js/delete_post.js' %}" type="text/javascript"></script>
  <script async src="{% static 'post/js/share_post.js' %}" type="text/javascript"></script>
  <script async src="{% static 'post/js/like_post.js' %}" type="text/javascript"></script>
  <script async src="{% static 'post/js/coment_post.js' %}" type="text/javascript"></script>
  <link rel="stylesheet" href="{% static 'post/css/styles.css' %}">
{% endblock %}

{% block content%}

  {% if recipes %}
    <div class="container pt-5">
      <button class="btn btn-success btn-lg btn-block" type="button" data-toggle="modal" data-target="#new_post_modal">Publicar</button>
    </div>
  {% else %}
    <div class="container pt-5">
      <h2>Para poder publicar necesitas crear una receta</h2>
    </div>
  {% endif %}

    {% for post in list_post %}
      <div class="container offset-md-3 pt-5">
        <div class="card">
          <div class="card-body">
            {% if post.sharer %}
            <div class="row">
              <div class="col">
                <h6>Compartió: {{ post.sharer.user.username }}</h6>
                <hr>
              </div>
            </div>
            {% endif %}
            <div class="row">
              <div class="col">
                <h4 class="card-title">{{ post.recipe_published.name}}</h4>
                <h6> Autor : {{post.publisher.user.username}}</h6>
                <h6 class="card-text"> Descripción : {{post.description}}</h6>
              </div>
              <div class="col">
                <img class="img-post" src="{{ post.recipe_published.image.url }}" alt="">
                <div class="container pt-3 offset-lg-3">
                  <a class="btn btn-info" type="button" name="button" href="{% url 'get_recipe' post.recipe_published.id_recipe %}">Ver mas</a>
                </div>
              </div>
            </div>
            <h5 id="likes_count_{{ post.id_post }}">Likes : {{ post.likes.count }}</h5>
          </div>
          <div class="card-footer">
            <div class="container offset-lg-2">
              {% if chef in post.likes.all %}
                <button id="like_button_{{ post.id_post }}" class="btn btn-outline-success" type="button" data-post="{{ post.id_post }}">Unlike</button>
              {% else %}
                <button id="like_button_{{ post.id_post }}" class="btn btn-success" type="button" data-post="{{ post.id_post }}">Like</button>
              {% endif %}
              <button id="coment_button_{{ post.id_post }}" class="btn btn-info" type="button" data-post="{{ post.id_post }}" data-toggle="modal" data-target="#coment_post_modal">Comentarios</button>
              <button class="btn btn-primary" type="button" name="button" data-post="{{ post.id_post }}" data-toggle="modal" data-target="#share_post_modal">Compartir</button>
              {% if user.email == post.publisher.user.email %}
                <button class="btn btn-danger" type="button" data-post="{{ post.id_post }}" data-toggle="modal" data-target="#delete_post_modal">Eliminar</button>
              {% endif %}
          </div>
          </div>
        </div>
      </div>
    {% empty %}
      <h3 class="container pt-4">No hay publicaciones, intenta explorar</h3>
    {% endfor %}

    <!-- Modal for create a post -->
    <div class="modal fade" role="dialog" id="new_post_modal">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Publica una receta</h4>
            </div>
            <form action="{% url 'new_post' %}" method="post">
              {% csrf_token %}
              <div class="modal-body">
                <h6 class="modal-text">Añade una descripción</h6>
                <div class="form-group">
                  <textarea type="text" name="description" cols="48"  rows="6" placeholder="Añade una descripción" required></textarea>
                </div>
                <h6>Selecciona tu receta</h6>
                <div class="form-group">
                  <select class="form-control" name="recipe_published" required>
                    <option value="">Selecciona una receta</option>
                    {% for recipe in recipes %}
                    <option value="{{recipe.pk}}">{{recipe.name}}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
              <div class="modal-footer">
                <button class="btn btn-secondary" type="button" name="button" data-dismiss="modal">Cancelar</button>
                <button class="btn btn-success" type="submit">Guardar</button>
              </div>
            </form>
          </div>
        </div>
    </div>

    <!-- Modal for delete a post -->
    <div class="modal fade" role="dialog" id="delete_post_modal">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Confirmación</h4>
          </div>
          <div class="modal-body">
            <h6>¿Deseas eliminar este post?</h6>
          </div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" name="button" data-dismiss="modal">Cancelar</button>
            <a id="delete_post" class="btn btn-danger" type="button" name="button">Eliminar</a>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal for share a post -->
    <div class="modal fade" role="dialog" id="share_post_modal">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Confirmación</h4>
          </div>
          <div class="modal-body">
            <h6>¿Deseas compartir este post?</h6>
          </div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" name="button" data-dismiss="modal">Cancelar</button>
            <a id="share_post" class="btn btn-info" type="button" name="button">Compartir</a>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal for coment a post -->
    <div class="modal fade" role="dialog" id="coment_post_modal">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Comentarios</h4>
          </div>
          <form id="form_coment_post" method="post">
            {% csrf_token %}
            <div class="modal-body">
              <div id="coments_post">
                <!-- Post coments -->
              </div>
            </div>
            <div class="form-group offset-lg-1">
              <textarea id="new_coment" type="text" name="coment" maxlength="50" placeholder="Ingresa tu comentario" rows="4" cols="40" required></textarea>
            </div>
            <input id="id_post_coment" type="hidden">

            <div class="modal-footer">
              <button class="btn btn-secondary" type="button" name="button" data-dismiss="modal">Cerrar</button>
              <button id="coment_post" class="btn btn-info" type="submit" name="button">Comentar</button>
            </div>
        </form>
        </div>
      </div>
    </div>



{% endblock %}
