{% extends 'main/base.html' %}

{% block head_content %}
<title>Recetas favoritas</title>
{% endblock %}

{% block content %}
<div class="containter px-5 pt-5">
  <h3>Recetas favoritas</h3>
</div>

{% if recipes %}
<div class="containter px-5 py-5">
  <table class="table table-hover">
    <thead>
      <tr class="bg-color">
        <th>Nombre</th>
        <th>Categoría</th>
        <th>Imagen</th>
        <th>Acción</th>
      </tr>
    </thead>
    <tbody>
      {% for recipe in recipes %}
        <tr>
          <td class="cell">{{ recipe.name }}</td>
          <td class="cell">{{ recipe.category.name }}</td>
          <td class="cell"><img class="img-tabla"src="{{ recipe.image.url }}" alt="No se encontro la imagen"></td>
          <td class="cell" width="10%"><a class="btn btn-info" type="button" href="{% url 'get_recipe' recipe.id_recipe %}" >Ver receta</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% else %}
  <h4>Aún no le has dado like a alguna receta</h4>
{% endif %}

{% endblock %}
