{% extends 'main/base.html' %}

{% block head_content %}
<title>Siguiendo</title>
{% endblock %}

{% block content %}

<div class="containter px-5 pt-5">
  <h3>Siguiendo</h3>
</div>

{% if followees %}
  <div class="containter px-5 py-5">
    <table class="table table-hover">
      <thead>
        <tr class="bg-color">
          <th>Nombre</th>
          <th>Acción</th>
        </tr>
      </thead>
      <tbody>
        {% for followee in followees %}
          <tr>
            <td class="cell">{{ followee.user.username }}</td>
            <td class="cell" width="15%"><a class="btn btn-danger" type="button" href="{% url 'follow' followee.user.email %}" >Dejar de seguir</a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% else %}
  <div class="containter pt-5">
    <h4>Aún no sigues personas.</h4>
  </div>
{% endif %}

{% endblock %}
