.card {
  min-width: 400px;
  border-color: #b9b9b9;
  max-width: 500px;
}

.card-footer {
  border-color: #b9b9b9;
}

h3 {
  text-align: center;
}

hr {
  border-width: 2px;
  border-color: black;
}
