{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <!-- Bootstrap 4.4.1 CSS-->
    <link rel="stylesheet" href="{% static 'main/css/bootstrap.min.css' %}">

    <link rel="stylesheet" href="{% static 'main/css/styles.css' %}">

    <!-- JQuery JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Bootstrap 4.4.1 JS-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    <!-- Block for head content -->
    {% block head_content%}
    {% endblock %}

    {% include "main/nav_bar.html"%}
  </head>
  <body>
    <!--Block for body content -->
    {% block content %}
    {% endblock%}
  </body>
</html>
