{% extends 'main/base.html' %}

{% block head_content %}
<title>Explorar</title>
{% load static %}
<link rel="stylesheet" href="{% static 'main/css/explore_styles.css' %}">
{% endblock %}


{% block content %}

<div class="row">
  <div class="col-2 pt-2">
    <div class="sticky-top">
      <nav class="navbar navbar-explore">

        <div class="sidebar-header">
          <h4>Categorias</h4>
          <hr width="170px">
        </div>

        <ul class="list-group list-group-flush">
          <a class="list-group-item list-group-item-action" href="{% url 'explore' category='all' %}">Todas las categorias</a>
          {% for category in categories %}
            <a class="list-group-item list-group-item-action" href="{% url 'explore' category.name %}">{{category.name}}</a>
          {% endfor %}
        </ul>


      </nav>
    </div>
  </div>

  <div class="col pt-2">
    <div class="container py-4">
      <h2>{{ category_selected}}</h2>
      <hr>
    </div>

    <div class="container">
      {% if recipes %}
        <div class="card-deck">
          {% for recipe in recipes %}
            <div class="card">
              <img class="card-img-top" src="{{recipe.image.url}}"  alt="No contiene imagen">
              <div class="card-body">
                <h5 class="card-tittle">{{recipe.name}}</h5>
                <a class="btn btn-info" href="{% url 'get_recipe' recipe.id_recipe %}">Ver mas</a>
              </div>
            </div>
          {% endfor %}
        </div>
      {% else %}
        <div class="container pt-4">
          <h4 id="empty_recipes"> No hay recetas en esta categoria</h4>
        </div>
      {% endif %}
    </div>
  </div>
</div>

{% endblock %}
