<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

    <title>RecipesNet</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'main/css/styles.css' %}">
    

    <!-- Bootstrap 4.4.1 CSS-->
    <link rel="stylesheet" href="{% static 'main/css/bootstrap.min.css' %}">
    
    <!-- JQuery JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Bootstrap 4.4.1 JS-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    <div class="sticky-top">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand c-Azul" href="{% url 'index' %}">
              <img src="{% static 'main/images/logo.png' %}" width="30" height="30" class="d-inline-block align-top" alt="">
              RecipesNet
            </a>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-md-auto">
              <li class="nav-item">
                <a class="nav-link c-Azul" href="{% url 'signup' %}">Registrar</a>
              </li>
              <li class="nav-item">
                <a class="nav-link c-Azul" href="{% url 'login' %}">Iniciar sesión</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </head>

  <body>
    <div class="container py-5">
      <div class="row">
        <div id="carruselInicio" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carruselInicio" data-slide-to="0" class="active"></li>
            <li data-target="#carruselInicio" data-slide-to="1"></li>
            <li data-target="#carruselInicio" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active" data-interval="3000">
              <img class="imagenCarrusel" src="{% static 'main/images/index1.jpg' %}" alt="Foto de un sándwich">
              <div class="carousel-caption d-none d-md-block">
                <h2>Crea y comparte tus recetas </h2>
                <p class="referencias">Imagen de <a href="https://pixabay.com/es/users/alexandercividanis-13660414/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=4484629">Alexander Cividanis</a> en <a href="https://pixabay.com/es/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=4484629">Pixabay</a></p>
              </div>
            </div>
            <div class="carousel-item" data-interval="3000">
              <img class="imagenCarrusel" src="{% static 'main/images/index2.jpg' %}" alt="Foto de una lasaña">
              <div class="carousel-caption d-none d-md-block">
                <h2>Explora y aprende nuevas recetas de cocina</h2>
                <p class="referencias">Imagen de <a href="https://pixabay.com/es/users/angelorosa-4392745/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2069021">Angelo Rosa</a> en <a href="https://pixabay.com/es/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2069021">Pixabay</a></p>
              </div>
            </div>
            <div class="carousel-item" data-interval="3000">
              <img class="imagenCarrusel" src="{% static 'main/images/index3.jpg' %}" alt="Foto de unas donas con cafe">
              <div class="carousel-caption d-none d-md-block">
                <h2>Sigue las recetas de tus amigos</h2>
                <p class="referencias">Imagen de <a href="https://pixabay.com/es/users/guvo59-9285194/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=5649213">Gundula Vogel</a> en <a href="https://pixabay.com/es/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=5649213">Pixabay</a></p>
              </div>
            </div>
          </div>
          <a class="carousel-control-prev" href="#carruselInicio" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carruselInicio" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
  </body>

  <footer>
    <div class="container pt-4">
      <p> Creado y desarrollado por
        <a href="https://github.com/rodrigofvc">Rodrigo Fernando Velázquez Cruz</a> y
        <a href="https://github.com/Terebece">Teresa Becerril Torres</a>
      </p>
    </div>
  </footer>
</html>
