<!DOCTYPE html>

<html>

  <head>
    <title>Iniciar sesión</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'main/css/styles.css' %}">
    
    <!-- Bootstrap 4.4.1 CSS-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

    <!-- JQuery JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Bootstrap 4.4.1 JS-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

  </head>

  <body>

    <div class="row m-0 justify-content-center align-items-center vh-100">
      <div class="col-sm-3">
        <h1 class="text-center"> Iniciar sesión </h1>
        <img src="{% static 'main/images/usuarios.png' %}" width="100" height="100" class="rounded mx-auto d-block" alt="logo">

        <form action="{% url 'login' %}" method="post">
          {% csrf_token %}

          {% if form.errors %}
            {% for error in form.non_field_errors %}
              <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <p>{{ error }}</p>
                <button type="button" class="close" data-dismiss="alert" aria-label="close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
            {% endfor %}
          {% endif %}

          <div class="h-50 d-inline-block">
          </div>
          
          <div class="form-group">
            <label for="user_email">Correo electrónico</label>
            <input class="form-control" type="email" name="email" id="user_email" value="{{form.data.email}}" required/>
          </div>

          <div class="form-group">
            <label for="user_password">Contraseña</label>
            <input class="form-control" type="password" name="password" id="user_password" pattern=".{8,}" required/>
          </div>

          <div class="h-50 d-inline-block">
          </div>
          
          <button class="btn btn-info btn-block" type="submit" autofocus>Iniciar sesión</button>

        </form>
      </div>
    </div>

    </body>
</html>