{% if user.is_chef %}
{% load static %}
  <div class="sticky-top">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/home">
            <img src="{% static 'main/images/logo.png' %}" width="30" height="30" class="d-inline-block align-top" alt="">
            RecipesNet
          </a>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <form class="form-inline" action="{% url 'search' %}" method="get">
            <input class="form-control mr-sm-2" type="text" name="query" maxlength="30" size="35" placeholder="Ingresa tu busqueda" width= 100 required>
            <button class="btn btn-outline-info" type="submit">Buscar</button>
          </form>
          <ul class="navbar-nav ml-md-auto">
            <div class="nav-item">
              <a class="nav-link" href="{% url 'index' %}">Ver Inicio</a>
            </div>
            <div class="nav-item">
              <a class="nav-link" href="{% url 'explore' 'all' %}">Explorar</a>
            </div>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'following' %}">Seguidos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'recipes' %}">Mis recetas</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'favourite_recipes' %}">Mis favoritas</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'profile' %}">Perfil</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'logout' %}">Salir</a>
            </li>
        </ul>
      </div>
    </nav>
  </div>
{% else %}
  <div class="sticky-top">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <div class="navbar-brand admin-navbar">RecipesNet - Administración</div>
        <ul class="nav navbar-nav navbar-right list-group list-group-horizontal">
          <li class="list-group-item">
            <a  href="{% url 'categories' %}">Administrar categorías</a>
          </li>
          <li class="list-group-item">
            <a  href="{% url 'logout' %}">Salir</a>
          </li>
        </ul>
      </div>

    </nav>
  </div>
{% endif %}
