{% extends 'main/base.html' %}

{% block head_content %}
<title>Busqueda</title>
{% load static %}
<link rel="stylesheet" href="{% static 'main/css/search_styles.css' %}">
{% endblock%}

{% block content %}

  <div class="container pt-5">
    <h1>Resultados de la busqueda: {{query}}</h1>
    <hr class="title-horizontal-line">
  </div>

  <div class="container py-4">
    <div class="container pb-3">
      <h3>Recetas</h3>
    </div>
    <div class="card-deck">
      {% for recipe in recipes %}
          <div class="card">
            <img class="card-img-top" src="{{recipe.image.url}}" alt="No contiene imagen">
            <div class="card-body">
              <h5 class="card-title">{{recipe.name}}</h5>
              <a class="btn btn-info" href="{% url 'get_recipe' recipe.id_recipe %}">Ver mas</a>
            </div>
          </div>
      {% empty %}
      <div class="container pt4">
        <h4> No se encontraron coincidencias </h4>
      </div>
      {% endfor %}
    </div>
    <hr class="separator-horizontal-line">
  </div>

  <div class="container pt-2 pb-5">
    <div class="container pb-3">
      <h3>Usuarios</h3>
    </div>
      {% if chefs %}
        <div class="container py-4">
          <table class="table table-hover">
            <thead>
              <tr class="bg-color">
                <th>Nombre</th>
                <th>Acción</th>
              </tr>
            </thead>
            <tbody>
              {% for chef in chefs %}
                  <tr>
                    <td>{{chef.user.username}}</td>
                    {% if chef not in followees %}
                      <td><a class="btn btn-success" href="{% url 'follow' chef.user.email %}">Seguir</a></td>
                    {% else %}
                      <td><a class="btn btn-danger" href="{% url 'follow' chef.user.email %}">Dejar de seguir</a></td>
                    {% endif%}
                  </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      {% else %}
        <div class="container">
          <h4> No se encontraron coincidencias </h4>
        </div>
      {% endif %}

  </div>



{% endblock %}
