<!DOCTYPE html>

<html>

  <head>
    <title>Registrar</title>

    <!-- Bootstrap 4.4.1 CSS-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

    <!-- JQuery JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Bootstrap 4.4.1 JS-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    {% load static %}
    <script async type="text/javascript" src="{% static "main/js/check_password.js" %}"></script>

  </head>

  <body>

    <div class="row m-0 justify-content-center align-items-center vh-100">
      <div class="col-sm-3">
        <h1 class="text-center"> Registrar </h1>
        <form action="{% url 'signup' %}" method="post">
          {% csrf_token %}

          {% if form.errors %}
            {% for field in form%}
              {% for error in field.errors %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                  <p>{{ error }}</p>
                  <button type="button" class="close" data-dismiss="alert" aria-label="close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
              {% endfor %}
            {% endfor%}

          {% endif %}

          <div class="h-50 d-inline-block">
          </div>

          <div class="form-group">
            <label for="user_email">Correo electrónico</label>
            <input class="form-control" type="email" name="email" id="user_email" value="{{form.data.email}}" required/>
          </div>
          <div class="form-group">
            <label for="user_name">Nombre de usuario</label>
            <input class="form-control" type="text" name="username" id="user_name" value="{{form.data.username}}" required/>
          </div>
          <div class="form-group">
            <label for="password">Contraseña</label>
            <input id="password" class="form-control" type="password" name="password" pattern=".{8,}" required/>
          </div>
          <div class="form-group">
            <label for="password_confirm">Comprueba la contraseña</label>
            <input id="password_confirm" class="form-control" type="password" name="password1" pattern=".{8,}" required/>
          </div>
          <div class="form-group">
            <label for="user_descripcion">Descripcion</label>
            <textarea class="form-control" type="text" name="description" id="user_descripcion" required>{{form.data.description}}</textarea>
          </div>

          <div class="h-50 d-inline-block">
          </div>

          <button class="btn btn-info btn-block" type="submit" autofocus>Registrarme</button>

        </form>
      </div>
    </div>
    </body>
</html>
