
.navbar-explore {
  background-color: #ffffff;
  border-color: #000000;
}

.nav-pills .nav-item a {
  text-decoration : none;
}

.card {
  max-width: 250px;
  min-width: 250px;
  border-color: #b9b9b9;
}

.card-img-top {
  width: 248px;
}

#empty_recipes {
  text-align: center;
}

hr {
  border-color: #23638b;
  border-width: 2px;
}
