.card {
  max-width: 250px;
  border-color: #b9b9b9;
}

.card-img-top {
  width: 250px;
}

h4 {
  text-align: center;
}

.title-horizontal-line {
  border-width: 5px;
  background-color:#23738b;
}

.separator-horizontal-line {
  border-width: 3px;
  background-color:#23738b;
}

.bg-color {
  background-color:#206980;
  color: #ffffff
}

