img.imagenCarrusel {
  width:1100px;
  height:600px;
}

img.logo {
  width:40px;
  height:40px;
}

p.referencias {
  opacity: 0.3;
}

.carousel-caption {
  background-color: #0000003a;
}

footer {
  background-color: #f6f7f9;
  text-align: center;
  width: auto;
  height: 70px;
}

footer p {
  color: #939393;
}

footer div.container a {
  color : #3d3c3c;
}

.bg-color {
  background-color:#206980;
  color: #ffffff
}

img.img-tabla{
  width:325px;
  height:200px;
}

img.img-receta{
  width:500px;
  height:300px;
}

img.img-post{
  margin-top: 3%;
  width:460px;
  height:300px;
}